#!/usr/bin/make -f

%:
	dh $@ --buildsystem=maven

override_dh_auto_build:
	dh_auto_build -- -f saaj-ri/pom.xml package -DskipTests

override_dh_auto_test:
	dh_auto_test -- -f saaj-ri/pom.xml test -Dfile.encoding=UTF-8

override_dh_auto_install:
	dh_auto_install -- -f saaj-ri/pom.xml

override_dh_auto_clean:
	dh_auto_clean -- -f saaj-ri/pom.xml
